nav ol {
    position: fixed;
    top: 10px;
    left: 10px;
}
ol li {
        display: inline-block;
        width: 100px;
        background-color: #ddd;
        text-align: left;
        padding: 5px;
}
long-content {
    height: 400px;
    background-color: skyblue;
}